.rotate{
    -moz-transition: all 3s linear;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
}

.rotate.down{
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}